In [8]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [3]:
#Load advertising data
ad_data = pd.read_csv("Resources/Advertising And Sales.csv")
ad_data.head()

   ID     TV  Radio  Newspaper  Sales
0   1  230.1   37.8       69.2   22.1
1   2   44.5   39.3       45.1   10.4
2   3   17.2   45.9       69.3    9.3
3   4  151.5   41.3       58.5   18.5
4   5  180.8   12.8       58.4   12.9

In [4]:
#Calculating total budget for each ID
ad_data['Total Budget(in thousands)'] = ad_data['TV'] + ad_data['Radio'] + ad_data['Newspaper']

columns_order = ['ID', 'TV', 'Radio', 'Newspaper', 'Total Budget(in thousands)', 'Sales']
ad_data = ad_data[columns_order]
ad_data

      ID     TV  Radio  Newspaper  Total Budget(in thousands)  Sales
0      1  230.1   37.8       69.2                       337.1   22.1
1      2   44.5   39.3       45.1                       128.9   10.4
2      3   17.2   45.9       69.3                       132.4    9.3
3      4  151.5   41.3       58.5                       251.3   18.5
4      5  180.8   12.8       58.4                       252.0   12.9
..   ...    ...    ...        ...                         ...    ...
195  196   38.2    3.7       13.8                        55.7    7.6
196  197   94.2    4.9        8.1                       107.2    9.7
197  198  177.0   11.0        6.4                       194.4   12.8
198  199  283.6   42.0       66.2                       391.8   25.5
199  200  232.1    8.1        8.7                       248.9   14.6

[200 rows x 6 columns]

In [17]:
#Rename columns and save new df
r_ad_data = ad_data.rename(columns={"ID": "Company ID",
                        "TV": "TV(Budget in thousands)",
                        "Radio": "Radio(Budget in thousands)",
                        "Newspaper": "Newspaper(Budget in thousands)",
                        "Sales": "Sales(in thousands of units)"})

In [20]:
r_ad_data
r_ad_data.to_csv('Resources/revised_advertising&sales.csv', index=False)